/*****   DEBUT  MAIN     STYLE       *****/

* {
    margin: 0;
    padding: 0;
}

html {
	height: 100%;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
}

body {
	height: 100%;
	font-size: 1rem;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

#heading,
#about,
#statistic-box,
#process,
#services,
#clients,
#project-submit,
#contact-box,
#main-footer {
	padding: 2rem 0;
}

/*****     DEBUT    MAIN     STYLE       *****/

/****** Début Home  *****/

#home nav.navbar a.nav-link {
  color: #191919;
  text-align: center;  
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.04em;
}

#home nav.navbar a.nav-link:hover, 
#home nav.navbar li.active a.nav-link {
  color: #10c9c3;
}

#heading {
	background-image: url(http://via.placeholder.com/1600x300);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#heading .section-title {
	padding: 0 0 0.8rem;
	color: #fff;
}

#heading p {
	line-height: 1.5rem;
	color: #fff!important;
}

.btn.btn-info {
	background-color: #10c9c3;
	padding: 1rem 2rem;
    border-radius: 0px;
    border: none;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
}

/****** Section Home  *****/

/*****     Fin    About      *****/

#about {
	background-color: #f6f6f6;
}

#about p, 
#process p, 
#heading p,
#project-submit p {
	font-family: "Nunito Sans", sans-serif;
	font-size: initial;
	color: #787878;
}

.section-title {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 1.475rem;
	color: #171717;
	padding: 0 0 1.5rem;
}

/*****     Fin    About      *****/

/*****     Début    Work      *****/

.progress {
	margin-bottom: 1rem;
}

.progress-bar {
	background-color: #10c9c3;
}

.skills-image img {
	height: 100%;
	width: 100%;
}

#skills p,
#contact-box .skills-progress p {
	font-family: "Nunito Sans", sans-serif;
	color: #787878;
}

#statistic-box {
	background-color: #10c9c3;
	color: #fff;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	font-size: 0.75rem;    
	letter-spacing: 0.05rem;
}

#statistic-box h5 {
	font-size: 1.125rem;
	font-weight: 700;
}

.portfolioItem {
  position: relative;
}

.portfolioItem:hover .overlay {
  opacity: 0.85;
}

.portfolioItem img {
	width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: #10c9c3 url(images/oeil.png) no-repeat center center;
}

/*****     Fin    Work      *****/

/*****     Début    Process      *****/

#process p {
	padding: 0 0 1.5rem;
}

/*****     Fin    Process      *****/

/*****     Début    Services      *****/



/*****     Fin    Services      *****/

/*****     Début    Testimonials      *****/

#testimonials, #map {
	padding-bottom: 3rem;
}

#testimonials .testimonial-box {
	
	background-color: #f6f6f6;
}

#testimonials .skills-progress {
	padding: 1rem;
}
 
#testimonials .testimonial-box p ,
#contact-box .skills-progress p {
	color: #787878;
	font-family: "Nunito Sans", sans-serif;
	margin-bottom: 2rem;
}

#testimonials .testimonial-box p.skills-details,
#contact-box .skills-progress p.skills-details {
	margin-bottom: 0;
}

#testimonials .testimonial-box p span,
#contact-box .skills-progress p span {
	color: #171717;
	font-weight: bold;
}

#testimonials .testimonial-box p.client {
	font-size: 0.75rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}

/*****     Fin    Testimonials      *****/

/*****     Début    Project Submit      *****/

#project-submit p {
    font-size: 1rem;
	padding: 0 0 1.5rem;
}

.form-group {
	padding: 0;
    margin-bottom: 1rem;
}

#project-submit .form-control {
	border: none;
    border-radius: 0;
    padding: 1rem;
    font-family: "Nunito Sans", sans-serif;
    font-size: 0.94rem;
    margin-bottom: 2rem;
}

#contact-box,
#map {
	background-color: #f5f5f5;
}

#map {
	padding-bottom: 2rem;
}

#contact-box #project-submit {
	padding: 0;
}

#map iframe {
	border: 0;
	height: 400px;
}

/*****     Fin    Project Submit      *****/

/****	Début  Footer   ****/

#main-footer {
  background-color: #141414;
  color: #bcbcbc;
}

#main-footer a {
	text-decoration: none;
    color: #bcbcbc;
}

#main-footer .widget .widget-title {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  margin: 0 0 25px;
}

#main-footer .widget ul li {
	font-family: "Nunito Sans", sans-serif;
	font-size: 0.94rem;
	letter-spacing: 0.01rem;
}

#main-footer .widget ul li.contact {
	font-family: "Work Sans", sans-serif;
}

/****	FIN  Footer   ****/

/****   DEBUT MEDIA QUERIES    ****/

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
	#portfolioItems div.flex-row {
		flex-direction: column!important;
	}
}

@media (min-width: 768px) {
	#heading,
	#about,
	#statistic-box,
	#process,
	#services,
	#project-submit,
	#contact-box,
	#main-footer {
		padding: 5rem 0;
	}
	.section-title {
		font-size: 2.375rem;
	}
	.progress {
		margin-bottom: 2rem;
	}
	#testimonials {
		padding-bottom: 4rem;
	}
	#contact-box .skills-progress {
		padding: 0 5rem 0 0;
	}
	#map {
		padding-bottom: 5rem;
	}
}

@media (max-width: 767px) {
	#skills div.flex-row {
		flex-direction: column!important;
	}
	.skills-progress, 
	.skills-image {
		width: 100%!important;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	#heading p {
		font-size: 1.125rem;
	}
	#about p {
		font-size: 1.125rem;
	}
	#skills .section-title,
	#contact-box .section-title {
		font-size: 1.875rem;
		letter-spacing: 0.05rem;
	}
}

@media (min-width: 576px) and (max-width: 767px) {
	
}


/****   FIN MEDIA QUERIES    ****/